<div class="loginpage">

  <div class="background">
    <img src="./assets/img/loginPageBack.png">
  </div>

  <div class="content">
    <h1>welcome back</h1>

    <div class="form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="hello@movya.com">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password">
        <mat-hint><a>Forgot password</a></mat-hint>
      </mat-form-field>

      <div class="submit"><a mat-raised-button color="black" routerLink="/home">Login</a></div>
    </div>
  </div>

  <div class="register">
    <a mat-button routerLink="/signup">Not a member? Sign up instead</a>
  </div>

</div>