.loginpage {
  display: inline;
  height: 100%;
}

.background {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  margin-top: -10px;
  background-color: black;
}

.background img {
  height: 100%;
  width: 100%;
  opacity: 50%;
}

/* Controls all of the content div */
.content {
  /* To center these elements */
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

/* Controls all h1's inside the content div */
.content h1 {
  color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4vh;
}

.content h2 {
  color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2vh;
}

.content img {
  height: 100%;
  width: 100%;
  opacity: 100%;
}
