<div class="homepage">

    <div class="content">
        <div class="welcome-message">
            <h1>welcome back, Qhawe</h1>
        </div>


        <div class="car-list">
            <mat-card>
                <mat-card-title-group>
                    <mat-card-title>Mercedes C63 AMG</mat-card-title>
                    <mat-card-subtitle>2018</mat-card-subtitle>
                </mat-card-title-group>
                <img mat-card-image src="../../assets/img/c63.jpg" alt="">
                <mat-card-subtitle class="pricetag">R500 / hr</mat-card-subtitle>
            </mat-card>

            <mat-card>
                <mat-card-title-group>
                    <mat-card-title>Mercedes C63 AMG</mat-card-title>
                    <mat-card-subtitle>2018</mat-card-subtitle>
                </mat-card-title-group>
                <img mat-card-image src="../../assets/img/c63.jpg" alt="">
                <mat-card-subtitle class="pricetag">R500 / hr</mat-card-subtitle>
            </mat-card>

            <mat-card>
                <mat-card-title-group>
                    <mat-card-title>Mercedes C63 AMG</mat-card-title>
                    <mat-card-subtitle>2018</mat-card-subtitle>
                </mat-card-title-group>
                <img mat-card-image src="../../assets/img/c63.jpg" alt="">
                <mat-card-subtitle class="pricetag">R500 / hr</mat-card-subtitle>
            </mat-card>

            <mat-card>
                <mat-card-title-group>
                    <mat-card-title>Mercedes C63 AMG</mat-card-title>
                    <mat-card-subtitle>2018</mat-card-subtitle>
                </mat-card-title-group>
                <img mat-card-image src="../../assets/img/c63.jpg" alt="">
                <mat-card-subtitle class="pricetag">R500 / hr</mat-card-subtitle>
            </mat-card>
        </div>

        <div class="bottomspacer"> </div>
    </div>

    <app-navbar></app-navbar>
</div>